@import "tailwindcss";

/* ============================= */
/* BASE STYLE (HTML global) */
/* ============================= */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #1c1c22;
    font-family: var(--font-jetbrains-mono);
    @apply text-gray-100 antialiased;
  }

  * {
    @apply box-border;
  }
}

/* ============================= */
/* COMPONENT STYLE */
/* ============================= */
@layer components {
  /* contoh component reusable */
  .container-custom {
    @apply max-w-7xl mx-auto px-4;
  }
}

/* ============================= */
/* CUSTOM UTILITIES */
/* ============================= */
@layer utilities {
  /* custom font */
  .font-primary {
    font-family: "Poppins", sans-serif;
  }

  .font-jetbrains {
    font-family: var(--font-jetbrains-mono);
  }

  .bg-primary {
    background-color: #1c1c22;
  }

  /* hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}